# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
build/
dist/
out/

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
*.log

# Editor directories
.idea/
.vscode/
*.swp

# Miscellaneous
.DS_Store
Thumbs.db
